@import 'variables.scss';

.projects-section{
    display: flex;
    background-color: $color-dark-secondary;
    padding-left: 8.75%;

    @media (max-width: 414px) {
        flex-direction: column;
        height: auto;
    }

    &-left{
        width: 50%;
        background: $color-dark-primary;

        @media (max-width: 414px) {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .slider-main{
            height: 39.73vw;

            @media (max-width: 414px) {
                height: 50vw;
                order: 2;
            }

            .slide{
                display: none;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;

                &.active{
                    display: block;
                }
            }
        }

        .content{
            padding: 3.75vw 9.11vw 0 3.33vw;

            @media (max-width: 414px) {
                order: 1;
                padding-bottom: 3vw;
            }

            h2{
                font-family: $font-primary-extrabold;
                font-size: 3.33vw;
                color: $color-light-primary;
                text-transform: uppercase;

                @media (max-width: 414px) {
                    font-size: 6.6vw;
                }
            }

            p{
                color: $color-light-primary;
                margin-top: 1.25vw;
                line-height: 1.3;

                @media (max-width: 414px) {
                    font-size: 3vw;
                }
            }
        }
    }
    
    &-right{
        width: 50%;
        background: $color-light-primary;

        @media (max-width: 414px) {
            width: 100%;
        }

        .slider-plan{
            overflow: hidden;

            .slide{
                display: none;
                

                img{
                    width: 50%;
                }

                &.active{
                    display: flex;
                }
            }
        }

        .slider-content{
            padding: 3.17vw 2.91vw 0 3.33vw;

            @media (max-width: 414px) {
                padding-bottom: 4vw;
            }

            .controls{
                text-align: right;

                button{
                    transition: all 300ms ease-in-out;

                    &:first-child{
                        margin-right: 1.45vw;
                    }

                    img{
                        width: 2.29vw;

                        @media (max-width: 1024px) {
                            width: 4.5vw;
                        }
                        
                        @media (max-width: 414px) {
                            width: 6.5vw;
                        }
                    }

                    &:hover:not(:disabled){
                        transform: scale(1.2);
                        opacity: .8;
                    }

                    &:disabled{
                        opacity: 0.5;
                        cursor: default;
                    }
                }
            }

            .text-slides{

                .slide{
                    display: none;
                    
                    &.active{
                        display: block;
                    }

                    h3{
                        position: relative;
                        font-family: $font-primary-extrabold;
                        font-size: 2.5vw;
                        color: $color-dark-secondary;
                        text-align: center;
                        text-transform: uppercase;

                        @media (max-width: 414px) {
                            font-size: 4.5vw;
                        }

                        span{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            font-family: $font-secondary;
                            font-size: 3.33vw;

                            @media (max-width: 414px) {
                                font-size: 5vw;
                            }
                        }
                    }

                    .features{
                        margin-top: 3.64vw;

                        &-row{
                            display: flex;
                            flex-wrap: wrap;
                            margin-bottom: 1.87vw;

                            &-item{
                                font-size: 1.66vw;
                                color: $color-dark-secondary;
                                margin-right: 3.54vw;

                                @media (max-width: 414px) {
                                    font-size: 3.2vw;
                                }

                                &:nth-child(3n){
                                    margin-right: 0;
                                }

                                span{
                                    font-family: $font-secondary;
                                    font-size: 3.33vw;
                                    padding-right: 0.7vw;

                                    @media (max-width: 414px) {
                                        font-size: 5vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .button{
            width: 100%;
            text-align: center;
            background-color: $color-dark-secondary;
            color: $color-light-primary;
            margin-top: 1.71vw;

            &:hover{
                background-color: $color-dark-primary;
                color: $color-light-secondary;
            }
        }
    }
}