@import 'fonts.scss';

// шрифты
$font-primary: 'Muller-Trial-Regular';
$font-primary-medium: 'Muller-Trial-Medium';
$font-primary-extrabold: 'Muller-Trial-ExtraBold';
$font-secondary: 'Etna';

// цвета
$color-light-primary: #DFD5BE;
$color-light-secondary: #D08D56;
$color-dark-primary: #383330;
$color-dark-secondary: #2C3637;
